.firstHeading{
    color: blue;
    font-family: 'Nunito', sans-serif;
}

.description{
    float: right;
}
.bike{
    float: left;
}

.cool{
    background: #ecf0f1;
    border-radius: 5px;
    padding: 30px;
}
